.countryData{
    min-height: 520px;
    background: rgba(255, 255, 255, 0.4);
    width: 300px;
    border-radius: 30px;
}
.countryFlag{
    min-height: 150px;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px;
    border-radius: 30px;
}
.countryWorkDays{
    min-height: 350px;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 20px;
    border-radius: 30px;
}
.countryPopulation{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    min-height: 350px;
    width: 650px;
}